@model CarAuction.Models.ViewModels.VehicleVM

@{
    var title = "Create Vehicle";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.Vehicle.Id != 0)
    {
        title = "Edit Vehicle";
        <input asp-for="Vehicle.Id" hidden />
    }
    <div class="border p-3">
        <div class="form-group row mb-3">
            <h2 class="text-info p1-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">

                @* Vehicle Type Dropdown *@
                <div class="form-group">
                    <label asp-for="Vehicle.Vehicle_Type"></label>
                    <select asp-for="Vehicle.Vehicle_Type" asp-items="@Model.Vehicle_Type" class="form-control">
                        <option value="" selected>-- Select Vehicle Type --</option>
                    </select>
                    <span asp-validation-for="Vehicle.Vehicle_Type" class="text-danger"></span>
                </div>

                @* Vehicle AirBags Dropdown *@
                <div class="form-group">
                    <label asp-for="Vehicle.AirBags"></label>
                    <select asp-for="Vehicle.AirBags" asp-items="@Model.Vehicle_AirBags" class="form-control">
                        <option value="" selected>-- Select AirBags --</option>
                    </select>
                    <span asp-validation-for="Vehicle.AirBags" class="text-danger"></span>
                </div>

                @* Other dropdowns follow the same pattern... *@

                @* Vehicle Body Style Dropdown *@
                <div class="form-group">
                    <label asp-for="Vehicle.BodyStyle"></label>
                    <select asp-for="Vehicle.BodyStyle" asp-items="@Model.Vehicle_Body_Styles" class="form-control">
                        <option value="" selected>-- Select Body Style --</option>
                    </select>
                    <span asp-validation-for="Vehicle.BodyStyle" class="text-danger"></span>
                </div>

                @* Vehicle Drive Line Type Dropdown *@
                <div class="form-group">
                    <label asp-for="Vehicle.DriveLineType"></label>
                    <select asp-for="Vehicle.DriveLineType" asp-items="@Model.Vehicle_Drive_Line_Types" class="form-control">
                        <option value="" selected>-- Select Drive Line Type --</option>
                    </select>
                    <span asp-validation-for="Vehicle.DriveLineType" class="text-danger"></span>
                </div>

                @* Vehicle Exterior Dropdown *@
                <div class="form-group">
                    <label asp-for="Vehicle.Exterior"></label>
                    <select asp-for="Vehicle.Exterior" asp-items="@Model.Vehicle_Exteriors" class="form-control">
                        <option value="" selected>-- Select Exterior --</option>
                    </select>
                    <span asp-validation-for="Vehicle.Exterior" class="text-danger"></span>
                </div>

                @* Vehicle Fuel Type Dropdown *@
                <div class="form-group">
                    <label asp-for="Vehicle.FuelType"></label>
                    <select asp-for="Vehicle.FuelType" asp-items="@Model.Vehicle_Fuel_Types" class="form-control">
                        <option value="" selected>-- Select Fuel Type --</option>
                    </select>
                    <span asp-validation-for="Vehicle.FuelType" class="text-danger"></span>
                </div>

                @* Vehicle Interior Dropdown *@
                <div class="form-group">
                    <label asp-for="Vehicle.Interior"></label>
                    <select asp-for="Vehicle.Interior" asp-items="@Model.Vehicle_Interiors" class="form-control">
                        <option value="" selected>-- Select Interior --</option>
                    </select>
                    <span asp-validation-for="Vehicle.Interior" class="text-danger"></span>
                </div>

                @* Vehicle Key Dropdown *@
                <div class="form-group">
                    <label asp-for="Vehicle.Key"></label>
                    <select asp-for="Vehicle.Key" asp-items="@Model.Vehicle_Keys" class="form-control">
                        <option value="" selected>-- Select Key --</option>
                    </select>
                    <span asp-validation-for="Vehicle.Key" class="text-danger"></span>
                </div>

                @* Vehicle Loss Dropdown *@
                <div class="form-group">
                    <label asp-for="Vehicle.Loss"></label>
                    <select asp-for="Vehicle.Loss" asp-items="@Model.Vehicle_Loss" class="form-control">
                        <option value="" selected>-- Select Loss --</option>
                    </select>
                    <span asp-validation-for="Vehicle.Loss" class="text-danger"></span>
                </div>

                @* Vehicle Primary Damage Dropdown *@
                <div class="form-group">
                    <label asp-for="Vehicle.PrimaryDamage"></label>
                    <select asp-for="Vehicle.PrimaryDamage" asp-items="@Model.Vehicle_Primary_Damages" class="form-control">
                        <option value="" selected>-- Select Primary Damage --</option>
                    </select>
                    <span asp-validation-for="Vehicle.PrimaryDamage" class="text-danger"></span>
                </div>

                @* Vehicle Secondary Damage Dropdown *@
                <div class="form-group">
                    <label asp-for="Vehicle.SecondaryDamage"></label>
                    <select asp-for="Vehicle.SecondaryDamage" asp-items="@Model.Vehicle_Secondary_Damages" class="form-control">
                        <option value="" selected>-- Select Secondary Damage --</option>
                    </select>
                    <span asp-validation-for="Vehicle.SecondaryDamage" class="text-danger"></span>
                </div>

                @* Vehicle Start Code Dropdown *@
                <div class="form-group">
                    <label asp-for="Vehicle.StartCode"></label>
                    <select asp-for="Vehicle.StartCode" asp-items="@Model.Vehicle_Start_Codes" class="form-control">
                        <option value="" selected>-- Select Start Code --</option>
                    </select>
                    <span asp-validation-for="Vehicle.StartCode" class="text-danger"></span>
                </div>

                @* Vehicle Transmission Dropdown *@
                <div class="form-group">
                    <label asp-for="Vehicle.Transmission"></label>
                    <select asp-for="Vehicle.Transmission" asp-items="@Model.Vehicle_Transmissions" class="form-control">
                        <option value="" selected>-- Select Transmission --</option>
                    </select>
                    <span asp-validation-for="Vehicle.Transmission" class="text-danger"></span>
                </div>

                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="Vehicle.VIN"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Vehicle.VIN" class="form-control" />
                        <span asp-validation-for="Vehicle.VIN" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="Vehicle.Year"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Vehicle.Year" class="form-control" />
                        <span asp-validation-for="Vehicle.Year" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="Vehicle.Odometer"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Vehicle.Odometer" class="form-control" />
                        <span asp-validation-for="Vehicle.Odometer" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="Vehicle.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Vehicle.Price" class="form-control" />
                        <span asp-validation-for="Vehicle.Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <div class="col-4">
                        Image
                    </div>
                    <div class="col-8">
                        <input type="file" asp-for="UploadedFiles" multiple>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="Vehicle.MakeId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Vehicle.MakeId" asp-items="@Model.MakeSelectList" class="form-control">
                            <option disabled selected>--Select Make--</option>
                        </select>
                        <span asp-validation-for="Vehicle.MakeId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="Vehicle.ModelId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Vehicle.ModelId" asp-items="@Model.ModelSelectList" class="form-control">
                            <option disabled selected>--Select Model--</option>
                        </select>
                        <span asp-validation-for="Vehicle.ModelId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="Vehicle.SeriesId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Vehicle.SeriesId" asp-items="@Model.SeriesSelectList" class="form-control">
                            <option disabled selected>--Select Series--</option>
                        </select>
                        <span asp-validation-for="Vehicle.SeriesId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="Vehicle.EngineId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Vehicle.EngineId" asp-items="@Model.EngineSelectList" class="form-control">
                            <option disabled selected>--Select Engine--</option>
                        </select>
                        <span asp-validation-for="Vehicle.EngineId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row mb-3">
                        <div class="col">
                            @if (Model.Vehicle.Id != 0)
                            {
                                <input type="submit" class="btn btn-success w-100" value="Upsert" />
                            }
                            else
                            {
                                <input type="submit" onclick="return validateInput()" class="btn btn-success w-100" value="Upsert" />
                            }
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-primary w-100">
                                <i class="fa-solid fa-right-from-bracket"></i> Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250
            });
        });

        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    title: "Error!",
                    text: "Please upload an Image!",
                    icon: "error"
                });
                return false;
            }
            return true;
        }
    </script>
}