@model CarAuction.Models.Vehicle

<div class="col-lg-4 col-md-6 pb-4 filter @Model.Make.Name.Replace(' ', '_') @Model.Model.Name.Replace(' ', '_')" onclick="location.href='@Url.Action("Details", new { id = Model.Id })'">
    <div class="card h-100 shadow-sm">
        <img src="@Url.Content(@Model.Images.FirstOrDefault()?.ImagePath ?? "путь_к_изображению_заполнителю")" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">Make: @Model.Make.Name</p>
            <p class="card-text">Model: @Model.Model.Name</p>
            <p class="card-text">Mileage: @Model.Mileage.ToString("N0")</p>
            <div class="d-flex justify-content-between align-items-center">
                <span class="card-text h5">@Model.Price.ToString("C0")</span>
            </div>
        </div>
    </div>
</div>