@model CarAuction.Models.Vehicle

<div class="col-lg-4 col-md-6 filter @(Model.Make.Name.Replace(" ", "_")) @(Model.Model.Name.Replace(" ", "_"))">
    <div class="card h-100 shadow-sm" onclick="window.location.href='@Url.Action("Details", "Home", new { id = Model.Id })'">
        <img src="@Url.Content(Model.Images.FirstOrDefault()?.ImagePath ?? "путь_к_изображению_заполнителю")" class="card-img-top" alt="@Model.Year @Model.Make.Name @Model.Model.Name">
        <div class="card-body">
            <p class="mb-2">@Model.Year @Model.Make.Name @Model.Model.Name @Model.Series.Name</p>
            <p class="mb-2">Лот #@Model.Id</p>
            <p class="mb-2">Расположение: Минск</p>
            <p class="mb-0">Цена: @Model.Price BYN</p>
        </div>
    </div>
</div>