@model CarAuction.Models.Vehicle

<div class="col-lg-4 col-md-6 pb-4 filter @Model.Make.Name.Replace(' ', '_') @Model.Model.Name.Replace(' ', '_')" onclick="location.href='@Url.Action("Details", new { id = Model.Id })'">
    <div class="card h-100 shadow-sm">
        <img src="@Url.Content(@Model.Images.FirstOrDefault()?.ImagePath ?? "путь_к_изображению_заполнителю")" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">
                @Model.Name.Substring(0, Math.Min(Model.Name.Length, 22))@(Model.Name.Length > 22 ? "..." : "")
            </h5>
            <hr />
            <div>
                Make:
                <span class="float-right">@Model.Make.Name</span>
            </div>
            <div>
                Model:
                <span class="float-right">@Model.Model.Name</span>
            </div>
            <div>
                Пробег:
                <span class="float-right">@Model.Mileage км</span>
            </div>
            <br />
            <div class="">
                <strong><span class="float-right">@Model.Price.ToString("C0")</span></strong>
            </div>
        </div>
    </div>
</div>