@model List<Vehicle>

<style>
    .noitem-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card {
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-top: 50px;
    }

    .card-header {
        background-color: #343a40;
        color: #fff;
        border-radius: 5px 5px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .card-body {
        padding: 20px;
    }

    .product-details {
        color: #821f3d;
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
        color: #000;
    }

    .product-image {
        max-width: 150px;
        height: auto;
        object-fit: contain;
        border-radius: 5px;
        border: 1px solid #bbb;
        margin-right: 20px;
    }

    .product-info {
        margin-right: 20px;
        flex-grow: 1;
        color: #000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .product-name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #000;
    }

    .product-mileage {
        font-size: 12px;
    }

    .product-price {
        font-size: 17px;
        text-align: right;
    }

    .remove-button {
        color: #dc3545;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 20px;
        margin-left: auto;
    }

    .continue-button {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
    }

        .continue-button:hover {
            background-color: #218838;
            border-color: #1e7e34;
        }
</style>

@if (Model.Count() > 0)
{
    <form method="post">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <div>
                        <i class="fa fa-shopping-cart"></i>
                        Shopping Cart
                    </div>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info btn-sm">Continue Shopping</a>
                </div>
                <div class="card-body">
                    @foreach (var item in Model)
                    {
                        <div class="product-details">
                            <div>
                                <img src="@Url.Content("../../" + @item.Images.ElementAt(0).ImagePath)" class="product-image" />
                            </div>
                            <div class="product-info">
                                <div>
                                    <div class="product-name">@item.Name</div>
                                    <div class="product-price">@((item.Price).ToString("c"))</div>
                                    <div class="product-mileage">Mileage: @item.Mileage</div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" asp-action="Remove" asp-route-id="@item.Id" class="remove-button">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-3 offset-md-9">
                            <button type="submit" class="continue-button">
                                <span>Continue</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <div class="noitem-container">
        <img src="@Url.Content("../../Files/WC/nocart.png")" width="250px" />
        <h4>Please add items to cart...</h4>
    </div>
}