@model CarAuction.Models.ViewModels.AuctionVM

@{
    ViewData["Title"] = "Аукцион автомобилей";
}

<h2>@ViewData["Title"]</h2>

<div class="container-fluid">
    <div class="d-flex flex-row flex-nowrap overflow-auto">
        @foreach (var lot in Model.Auction.Lots)
        {
            <div class="card" style="width: 18rem; min-width: 300px; margin-right: 15px;">
                <img class="card-img-top" src="@Url.Content("~/"+lot.Vehicle.Images.FirstOrDefault()?.ImagePath ?? "путь_к_изображению_заполнителю")" alt="@lot.Vehicle.Make.Name">
                <div class="card-body">
                    <h5 class="card-title">@lot.Vehicle.Year @lot.Vehicle.Make.Name @lot.Vehicle.Model.Name @lot.Vehicle.Series.Name</h5>
                    <p class="card-text">Начальная цена: $@lot.Vehicle.Price</p>
                    <button type="button" class="btn btn-primary" onclick="placeBid(@lot.Id)">
                        Повысить ставку на $50
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        // Ваши существующие JavaScript функции
        function placeBid(lotId) {
            // Здесь код для размещения ставки
        }
    </script>
}