@model CarAuction.Models.ViewModels.AuctionVM

@{
    ViewData["Title"] = Model.Auction.Id != 0 ? "Edit Auction" : "Create Auction";
}

<h2 class="text-info">@ViewData["Title"]</h2>

<form asp-action="Upsert" id="auctionForm" method="post">
    <input type="hidden" asp-for="Auction.Id" />

    <!-- Auction Date Field -->
    <div class="form-group">
        <label asp-for="Auction.AuctionDate"></label>
        <input asp-for="Auction.AuctionDate" class="form-control" />
        <span asp-validation-for="Auction.AuctionDate" class="text-danger"></span>
    </div>

    <div class="row">
        <!-- Available Vehicles Displayed as Cards -->
        <div class="col-12">
            <h3>Available Vehicles</h3>
            <div class="row" id="availableVehicles">
                @foreach (var vehicle in Model.Vehicles) // Предполагается, что Model.Vehicles содержит список всех доступных машин.
                {
                    <div class="col-md-4">
                        <div class="card">
                            @* Ваш код для отображения изображений автомобилей *@
                            @if (vehicle.Images?.Any() == true)
                            {
                                <div uk-slideshow="animation: push; autoplay: true; autoplay-interval: 5000">

                                    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

                                        <ul class="uk-slideshow-items">
                                            @foreach (var image in vehicle.Images)
                                            {
                                                <li>
                                                    <img src="@Url.Content("/"+image.ImagePath)" alt="" uk-cover>
                                                </li>
                                            }
                                        </ul>

                                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

                                    </div>

                                    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>

                                </div>
                            }
                            <div class="card-body">
                                <h5 class="card-title">@vehicle.Name</h5>
                                <button type="button" class="btn btn-primary btn-select" data-id="@vehicle.Id">Select</button>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <h3>Selected Vehicles</h3>
            <div class="row" id="availableVehicles">
                @if(Model.Auction.Lots != null)
                @foreach (var vehicle in Model.Auction.Lots) 
                {
                    <div class="col-md-4">
                        <div class="card">
                            @* Ваш код для отображения изображений автомобилей *@
                            @if (vehicle.Vehicle.Images?.Any() == true)
                            {
                                <div uk-slideshow="animation: push; autoplay: true; autoplay-interval: 5000">

                                    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

                                        <ul class="uk-slideshow-items">
                                            @foreach (var image in vehicle.Vehicle.Images)
                                            {
                                                <li>
                                                    <img src="@Url.Content("/"+image.ImagePath)" alt="" uk-cover>
                                                </li>
                                            }
                                        </ul>

                                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

                                    </div>

                                    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>

                                </div>
                            }
                            <div class="card-body">
                                <h5 class="card-title">@vehicle.Vehicle.Name</h5>
                                <button type="button" class="btn btn-primary btn-danger" data-id="@vehicle.Id">Delete</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Hidden field for selected vehicles -->
    <input type="hidden" id="selectedVehiclesInput" name="SelectedVehicles" />
    <input type="hidden" id="selectedForDeleteVehiclesInput" name="SelectedForDeleteVehicles" />
    <input type="hidden" name="AuctionIsOn" value="false" id="AuctionIsOnField" />

    <button type="submit" class="btn btn-success">Upsert</button>
    <button type="submit" class="btn btn-success" onclick="setAuctionState()">Start Auction</button>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</form>

@section Scripts {
    <script>
        let selectedVehicles = [];
        let selectedForDeleteVehicles = [];

        document.addEventListener("DOMContentLoaded", function () {
            // Binding click event to all select buttons
            document.querySelectorAll('.btn-select').forEach(button => {
                button.addEventListener('click', function () {
                    let vehicleId = parseInt(this.getAttribute('data-id'));
                    selectVehicleForAuction(vehicleId, this);
                });
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            // Binding click event to all select buttons
            document.querySelectorAll('.btn-danger').forEach(button => {
                button.addEventListener('click', function () {
                    let vehicleId = parseInt(this.getAttribute('data-id'));
                    deleteVehicleForAuction(vehicleId, this);
                });
            });
        });

        function setAuctionState() {
            var auctionIsOnField = document.getElementById("AuctionIsOnField");
            var currentState = auctionIsOnField.value.toLowerCase() === "true";
            auctionIsOnField.value = !currentState;
        }

        function deleteVehicleForAuction(vehicleId, button) {
            // Adding or removing vehicle from deletedVehicles
            const index = selectedForDeleteVehicles.indexOf(vehicleId);
            if (index === -1) {
                selectedForDeleteVehicles.push(vehicleId);
                button.classList.add('btn-success');
                button.textContent = 'Deleted';
            } else {
                selectedForDeleteVehicles.splice(index, 1);
                button.classList.remove('btn-success');
                button.textContent = 'Delete';
            }
            console.log(selectedForDeleteVehicles);
        }

        function selectVehicleForAuction(vehicleId, button) {
            // Adding or removing vehicle from selectedVehicles
            const index = selectedVehicles.indexOf(vehicleId);
            if (index === -1) {
                selectedVehicles.push(vehicleId);
                button.classList.add('btn-success');
                button.textContent = 'Selected';
            } else {
                selectedVehicles.splice(index, 1);
                button.classList.remove('btn-success');
                button.textContent = 'Select';
            }
            console.log(selectedVehicles);
        }

        document.getElementById('auctionForm').addEventListener('submit', function () {
            document.getElementById('selectedVehiclesInput').value = JSON.stringify(selectedVehicles);
        });

        document.getElementById('auctionForm').addEventListener('submit', function () {
            document.getElementById('selectedForDeleteVehiclesInput').value = JSON.stringify(selectedForDeleteVehicles);
        });
    </script>
}