@model CarAuction.Models.ViewModels.DetailsVM

@{
    ViewData["Title"] = "Детальная информация о транспортном средстве";
}

<div class="container my-4">
    <form method="post">
        <input asp-for="@Model.Vehicle.Id" hidden />
        <div class="mb-2">
            <a asp-action="Index" class="btn btn-primary">← Вернуться к списку</a>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>@Model.Vehicle.Year @Model.Vehicle.Make.Name @Model.Vehicle.Model.Name @Model.Vehicle.Series.Name</h1>
            <div class="h3 text-success">@Model.Vehicle.Price BYN</div>
        </div>

        <div class="row">
            <div class="col-md-8 mb-3">
                <div class="border p-3 rounded">
                    @if (Model.Vehicle.Images?.Any() == true)
                    {
                        <div id="vehicleCarousel" class="carousel slide" data-bs-ride="carousel">
                            <!-- Индикаторы -->
                            <div class="carousel-indicators">
                                @{
                                    int j = 0;
                                }
                                @foreach (var image in Model.Vehicle.Images)
                                {
                                    <button type="button" data-bs-target="#vehicleCarousel" data-bs-slide-to="@j" class="@(j == 0 ? "active" : "")" aria-current="@(j == 0 ? "true" : "false")" aria-label="Slide @(j+1)"></button>
                                    j++;
                                }
                            </div>

                            <!-- Слайды -->
                            <div class="carousel-inner">
                                @{
                                    int i = 0;
                                }
                                @foreach (var image in Model.Vehicle.Images)
                                {
                                    <div class="carousel-item @(i == 0 ? "active" : "")">
                                        <img src="@Url.Content("~/" + image.ImagePath)" class="d-block w-100" alt="Image of Vehicle">
                                    </div>
                                    i++;
                                }
                            </div>

                            <!-- Управление -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#vehicleCarousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#vehicleCarousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    }
                    else
                    {
                        <img src="@Url.Content("~/images/default-image.png")" class="img-fluid" alt="Default Vehicle Image" />
                    }
                </div>
                <br />
            </div>
            <div class="col-md-4">
                <div class="border p-3 rounded mb-3">
                    @if (Model.ExistsInCard)
                    {
                        <a asp-action="RemoveFromCart" asp-route-id="@Model.Vehicle.Id" class="btn btn-danger btn-lg btn-block">Удалить из корзины</a>
                    }
                    else
                    {
                        <button type="submit" asp-route-id="@Model.Vehicle.Id" class="btn btn-primary btn-lg btn-block">Добавить в коризну</button>
                    }
                    <hr />
                    <div class="d-flex justify-content-between">
                        <strong>Производитель:</strong>
                        <span class="float-right">@Model.Vehicle.Make.Name</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <strong>Модель:</strong>
                        <span class="float-right">@Model.Vehicle.Model.Name</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <strong>Серия:</strong>
                        <span class="float-right">@Model.Vehicle.Series.Name</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <strong>Двигатель:</strong>
                        <span class="float-right">@Model.Vehicle.Engine.Name</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <strong>Пробег:</strong>
                        <span>@Model.Vehicle.Odometer км</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <strong>Тип:</strong>
                        <span>@Model.Vehicle.Vehicle_Type.ToString()</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>