@model CarAuction.Models.ViewModels.DetailsVM

@{
    ViewData["Title"] = "Детальная информация о транспортном средстве";
}

<div class="container my-4">
    <form method="post">
        <input asp-for="@Model.Vehicle.Id" hidden />
        <div class="mb-2">
            <a asp-action="Index" class="btn btn-primary">← Вернуться к списку</a>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>@Model.Vehicle.Name</h1>
            <div class="h5 text-success">@Model.Vehicle.Price.ToString("C")</div>
        </div>

        <div class="row">
            <div class="col-md-8 mb-3">
                <div class="border p-3 bg-white rounded">
                    @if (@Model.Vehicle.Images?.Any() == true)
                    {
                        <div uk-slideshow="animation: push; autoplay: true; autoplay-interval: 5000">

                            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

                                <ul class="uk-slideshow-items">
                                    @foreach (var image in @Model.Vehicle.Images)
                                    {
                                        <li>
                                            <img src="@Url.Content("/"+image.ImagePath)" alt="" uk-cover>
                                        </li>
                                    }
                                </ul>

                                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

                            </div>

                            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>

                        </div>
                    }
                    else
                    {
                        <img src="@Url.Content("~/images/default-image.png")" class="img-fluid" alt="Default Vehicle Image" />
                    }
                    <div class="py-3">
                        <p>@Html.Raw(@Model.Vehicle.Description)</p>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-4">
                <div class="border p-3 bg-white rounded mb-3">
                    @if (Model.ExistsInCard)
                    {
                        <a asp-action="RemoveFromCart" asp-route-id="@Model.Vehicle.Id" class="btn btn-danger btn-lg btn-block">Remove from Cart</a>
                    }
                    else
                    {
                        <button type="submit" asp-route-id="@Model.Vehicle.Id" class="btn btn-primary btn-lg btn-block">Add to Cart</button>
                    }
                    <hr />
                    <div>
                        <strong>Make:</strong>
                        <span class="float-right">@Model.Vehicle.Make.Name</span>
                    </div>
                    <div>
                        <strong>Model:</strong>
                        <span class="float-right">@Model.Vehicle.Model.Name</span>
                    </div>
                    <div>
                        <strong>Пробег:</strong>
                        <span class="float-right">@Model.Vehicle.Mileage км</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>