@model CarAuction.Models.ViewModels.DetailsVM

<style>
    .btn-custom {
        background-color: #5268f9;
        color: white;
    }
</style>

<div class="container">
    <form method="post">
        <input asp-for="@Model.Vehicle.Id" hidden />
        <div class="card">
            <div class="row">
                <div class="col-lg-6 m-3">
                    <img src="@Url.Content("../../"+@Model.Vehicle.Path)" style="border-radius:5px; border:1px solid #bbb" class="img-fluid" alt="Vehicle Image" />
                    <div class="card-text m-3">
                        <h5>Characteristics:</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Make: @Model.Vehicle.Make.Name</li>
                            <li class="list-group-item">Model: @Model.Vehicle.Model.Name</li>
                            <li class="list-group-item">Mileage: @Model.Vehicle.Mileage</li>
                        </ul>
                        <h5>Description:</h5>
                        <p>@Html.Raw(@Model.Vehicle.Description)</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card-body">
                        <h2 class="card-title">@Model.Vehicle.Name</h2>
                        <h3 class="card-subtitle text-muted">@((Model.Vehicle.Price).ToString("c"))</h3>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-lg-6">
                                <a asp-action="Index" class="btn btn-custom btn-lg btn-block">Back to List</a>
                            </div>
                            <div class="col-lg-6">
                                @if (Model.ExistsInCard)
                                {
                                    <a asp-action="RemoveFromCart" asp-route-id="@Model.Vehicle.Id" class="btn btn-danger btn-lg btn-block">Remove from Cart</a>
                                }
                                else
                                {
                                    <button type="submit" asp-route-id="@Model.Vehicle.Id" class="btn btn-custom btn-lg btn-block">Add to Cart</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>